[user]
	name = Kenny Younger
	email = kyounger@gmail.com

[merge]
	tool = Kaleidoscope

[mergetool "splice"]
    cmd = "mvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true

[core]
	excludesfile = ~/.gitignore
	hooksPath = /Users/kyounger/.dotfiles/git/git-global-hooks
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = 1

[branch]
        autosetuprebase = always
        autosetupmerge = always
[diff]
	indentHeuristic = true
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[hub]
        protocol = https
[push]
	default = current
	followTags = true
[pull]
        rebase = true
[credential]
	helper = osxkeychain
[url "https://"]
	insteadOf = git://
[fetch]
	prune = true
[alias]
	add-no-white=!sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
