# Sample gitconfig
#
# I've pulled this out of version control because 1) I don't want my email
# and GitHub token on my public repo, and 2) I tried using the system-wide
# etc/gitconfig and it seems other clients don't always respect it (not to
# mention dealing with it in homebrew sucks). Don't let that stop you; you
# can symlink ~/.gitconfig to this file and go rock out with your git out!
#
# I'm not Zach, but I don't want to share my private info either. But I also
# want to make it easy to set up a new computer, so this is my .gitconfig minus
# secret things. I copy it to gitconfig.symlink (which is ignored by git), add
# my info, and then rake just does the right thing.

[user]
  name = Kenny Younger
  email = you@example.com
[alias]
  amend = commit --amend
  co = checkout
  st = status
  brlog = log master..
  brdiff = branch-diff
  count = !git shortlog -sn
  staged = diff --staged
  unstage= reset HEAD
  out = log --branches --not --remotes=origin
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
  editor = vim
[apply]
  whitespace = nowarn
[github]
  user = kyounger
  token = nonsense

