{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

echo "Running ~/.macos to converge."
~/.macos

echo "Ensuring F-Keys are set."
osascript ~/code/Set-Mac-Function-Keys/SetFunctionKeys.scpt

{{ end -}}
