{{ $x := splitList "_" .chezmoi.sourceFile -}}
{{ $y := last $x | dir -}}
{{ $rtp := list "~/." $y | join "" -}}
{{ $vim_plugins := .vim_plugins -}}
{{ $vim_persist := .vim_persist -}}
{{ template "vim/vimrc" dict "rtp" $rtp "os" .chezmoi.os "vim_plugins" $vim_plugins "vim_persist" $vim_persist -}}
